@using Flea.Models
<div class="cluster @Class">
    
    @for (var i = 0; i < Inner.Tables.Count; i++)
    {
        var tableClass = Inner.Type switch
        {
            Models.Cluster.ClusterType.Round => i switch
            {
                0 or 3 or 4 or 7 => "horizontal",
                5 or 6 => "bottom",
                _ => "vertical"
                },
            Models.Cluster.ClusterType.Horizontal => "horizontal",
            _ => "vertical"
            };
        _pathId = -1;
        if (SelectedCluster != null && Paths != null && Inner.Id == SelectedCluster.Id)
        {
            var t = Inner.Tables[i].Id;
            for (var j = 0; j < Paths.Count; j++)
            {
                if (StartNode?.Id != t && Paths[j].Contains(t))
                {
                    tableClass += " path";
                    _pathId = j;
                    break;
                }
            }
            if (StartNode?.Id == t)
                tableClass += " start";
        }
        <Table
            TableIndex="@i"
            Inner="@Inner.Tables[i]"
            Class="@tableClass"
            PathId="@_pathId"
            OnTableSelect="@(async id => await OnTableSelect.InvokeAsync(id))">
        </Table>
    }
    @if (Inner.Type == Models.Cluster.ClusterType.Round)
    {
        <div class="cluster-tag">@Inner.Name</div>
    }
</div>
@code {
    [Parameter]
    public string? Class { get; set; }
    
    [Parameter]
    public Models.Cluster Inner { get; set; } = null!;

    [Parameter]
    public List<int[]>? Paths { get; set; }
    
    [Parameter]
    public Models.Table? StartNode { get; set; }
    
    [Parameter]
    public Models.Cluster? SelectedCluster { get; set; }

    [Parameter]
    public EventCallback<(Models.Table,Models.Cluster,int)> OnTableSelect { get; set; }

    [Parameter]
    public int ClusterIndex { get; set; }

    private int _pathId = -1;

    protected override void OnInitialized()
    {
        Class ??= "";
    }
}